# Basics in python
## INPUT and OUTPUT

In [10]:
#single variable
s="BOB"
print(s)

BOB

In [14]:
#multiple variable
n=1
city="kathmandu"
print(n,city)

1 kathmandu

In [15]:
#output formatting
amount = 88000
print("Amount: ${:.2f}".format(amount))

Amount: $88000.00

In [17]:
#end with @parameter
print("hello",end="@")
print("Texas")
#end without @parameter
print("hello")
print("Texas")

hello@Texas
hello
Texas

In [42]:
#separation with comma
print('H','E','L','L','O', sep=".")
#1) used in date formatting
print( "Date:",'2062','11','11', sep="/")

H.E.L.L.O
Date:/2062/11/11

In [27]:
#fstring
name="Nimi"
age=19
print(f"The name is {name} and age is {age}")

The name is Nimi and age is 19

# FORMAT SPECIFIER
- %f -float
- %s -string
- %x -hexa
- %o -octa

In [44]:
#taking value from user
num=input("\tEnter value")
print(" the value is ",num)

# for this we use typecasting
newnum=int(num)
num2=int(input("ENTER NUMBER"))
print(type(newnum))
print("The value is ", num2)

	Enter value 2

 the value is  2

ENTER NUMBER 3

<class 'int'>
The value is  3

In [48]:
#for multiple inputs
x,y,z = input("Enter the values:").split()
            
print("total no. of students",x)
print("total no. of boys",y)
print("total no. of girls",z)

Enter the values: 2 2 3

total no. of students 2
total no. of boys 2
total no. of girls 3

In [53]:
#conditional input using ladder case
age_input =  input("Enter the age : ")
age = int(age_input)
if age<0:
    print("age cannot be negative")
elif age<=16:
    print("minor age")
elif age>=18 and age<=60:
    print("working age")
else:
    print("old age")

Enter the age :  44

working age

In [55]:
#taking input in python
name= input("enter your name")
print("Name: ",name, "from: Nepal")

enter your name Nimi Sherpa

Name:  Nimi Sherpa from: Nepal

In [58]:
# type casting
color =  input("What color is rose?")
print(color)
n=int(input("number of rose?"))
print(n)
Price=int(input("price of rose?"))
print(Price)

What color is rose? white

white

number of rose? 3

3

price of rose? 333

333

In [59]:
#data types in python
a=15
b=12.22
c="hello"
d=("code","with","interest")
e=["code","with","python"]
f={"Name":"sita","python":"professionalclass"}
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [1]:
#variables in python
a=10
a

10

In [5]:
#variables in python
#local and global variable 
def fun():
    k="scope local"
    print(k)
fun()
print(k)

scope local

NameError: name 'k' is not defined

In [9]:
k="i am a global scope"
def f():
    global k# used to make local variable into global
    k=" local scope"
    print(k)
f()
print(k)

 local scope
 local scope

In [15]:
#for delete-del keyword
p=10
print(p)
del p

10

In [18]:
#swapping of variables-2

a,b=10,20
print(a,b)
b,a=a,b
print(a,b)

10 20
20 10

In [20]:
#length of string
a='string'
print(len(a))

6

In [21]:
#keyword-reserved words in every language
import keyword
print("The keywords in python are: ")
print(keyword.kwlist)

The keywords in python are:
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Operators in python
## 1.arithmetic operator
## 2.logical operator
## 3.assignment operator
## 4.relational operator
## 5.membership operator
## 6.ternary operator
## 7.identity operator
## 8.bitwise operator

In [28]:
#arithmetic operator
a=1
b=2
c=a+b
print(c)
c=a-b
print(c)
c=a*b
print(c)
c=a/b
print(c)
c=a**b
print(c)

3
-1
2
0.5
1

In [ ]:
#logical operator

In [32]:
#assignment ooperators
a=10
a+=1
a

11

In [30]:
#bitwise operator
a=10     1010
b=12     1100
...............
a and b  1000

12

In [ ]:
#relational operator
a!=b

In [36]:
#identity operator
a=10
b=20
print(a is b)
print(a is not b)

False
True

In [43]:
#membership operator
a=1
b=6
list = [1,2,3,4,5]

if(a in list):
   print("a is in list")
if(b  not in list):
   print("b is not in list")

a is in list
b is not in list

In [50]:
#ternary operator
a,b=10,20
min=a if a<b else b
print("Minimum= ",min)
max=a if a>b else b
print("Maximum= ",max)

Minimum=  10
Maximum=  20

In [52]:
#operator associativity
print(10/2*22+2-29)

83.0

## Data types in python
### 1.numeric data type
### 2.sequential data type
### 3.mapping data type
### 4.boolean data type
### 5.set data type
### 6.binary data type

In [60]:
# 1)numeric data type-int, float, complex
#complex data type

c=complex(3,4)
print(c)

(3+4j)

In [72]:
# sequential data type-string, list, tuple
#string type

s='welcome to TEXAS'
print(type(s))
#for particular character
print("second character is '",s[1],"'")

#list-array like structure
a =["mia","is","out"]
print(a)
print(a[0])
print(a[-1])
print(a[0:])
a.append(3)
print(a)
a.remove(3)
print(a)

<class 'str'>
second character is ' e '
['mia', 'is', 'out']
mia
out
['mia', 'is', 'out']
['mia', 'is', 'out', 3]
['mia', 'is', 'out']

In [ ]:
# mapping data type- dict

In [ ]:
# mapping data type- dict

In [ ]:
# mapping data type- dict

In [ ]:
# mapping data type- dict

In [ ]:
#boolean data type- bool

In [ ]:
#set data type-set, frozen set

In [ ]:
#binary data type-byte, bytearray, memoryview